<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
            	<div class="col-lg-10 col-lg-10 text-center">
            	<a><h4 class="name"><span>BEST PAPER AWARD</span></h4></a>
                <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
                    <span> <strong>Diffusion of Innovation in Accounting: How have the Big Four been Adopting Blockchain Technology?</strong></span></h4> 
                <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
                	<span><h5>Shoufan Qiu, Rochester Institute of Technology</h5></span> 
                    <span><h5> Jennifer Xu, Bentley University</h5></span> 
                    <span><h5> Manlu Liu, Rochester Institute Technology</h5></span> 
                </h4> 
                </div>
            </h4>
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
                <div class="col-lg-10 col-lg-10 text-center">
                <a><h4 class="name"><span>BEST PAPER AWARD – RUNNER UP</span></h4></a>
                <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
                    <span><strong>Wibson: A Decentralized Data Marketplace</strong></span></h4> 
                <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
                    <span><h5>Matias Travizano, Carlos Sarraute, Gustavo Ajzenman, and Martin Minnoni</h5></span> 
                    <span><h5>Wibson Ltd.</h5></span> 
                </h4> 
				</div>
            </h4>
        </div>
    </div>
</section>