<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                    <article class="row post">
                        <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Discussion Panel</h4>
                        <div>
                            <span><h6>Theme: Research Opportunities of Blockchain Technology</a> </h6>
                            </span>
                            <span><h6>Time: 1-2 pm, December 2018 </h6></span>   
                            <span><h6>Venue: TBD</a></h6></span>
                            <span><h6>Panel Coordinator:</h6></span>
                            <span><h6>&nbsp;&nbsp;&nbsp;&nbsp;Shaokun Fan, Oregon State University</h6></span>
                            <span><h6>Confirmed Panelists:</h6></span>
                        </div>
                    </article>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0"></h4>
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                    <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}" >
                        <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: 'Akhil.jpg' }})">
                        <div class="overlay solid-overlay">
                        </div>
                        <figcaption><div class="col-lg-10 col-lg-10 text-left">
                            <h2 class="name"><span>Akhil Kumar</span></h2>
                                <a href="{{social["link"]}}"><h2 class="name">Pennsylvania State University</h2></a>
                        </div></figcaption>
                        </figure>
                    </div>
            </div>
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: 'Mary.jpeg' }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-lg-10 col-lg-10 text-left">
                                <h2 class="name"><span>Mary Lacity</span></h2>
                                <a href="{{social["link"]}}"><h2 class="name">University of Arkansas</h2></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}">
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: 'JChristopherWestland.jpg' }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-lg-10 col-lg-10 text-left">
                                <h2 class="name"><span>Chris Westland</span></h2>
                                <a href="{{social["link"]}}"><h2 class="name">University of Illinois at Chicago</h2></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="effect-wrapper col-md-4 col-sm-6 col-xs-12 cols-centered appear-animation">
                <div class="zoe-effect" data-toggle="modal" data-target="#speakerDetail-{{ teamMember.id }}" >
                    <figure class="waves-effect waves-block waves-light" style="background-image: url({{ site.baseurl | append: '/img/people/' | append: 'jlzhao.jpg' }})">
                        <div class="overlay solid-overlay"></div>
                        <figcaption>
                            <div class="col-lg-10 col-lg-10 text-left">
                                <h2 class="name"><span>J. Leon Zhao</span></h2>
                                <a href="{{social["link"]}}"><h2 class="name">City University of Hong KongMary Lacity</h2></a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div> 
</section>