<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
        <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Program <h6>(Updated on Dec. 09th, 2018)</h6></h4>
            <a href="{{ site.finalProgram | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Latest version: {{ site.FinalProgramButton}}</a>
            <h6>December 13, 2018</h6>
            <h6>Marriott Marquis, Pacific Suite B, 780 Mission St, San Francisco, CA</h6>
        </div>
        <font size="4" face="Times New Roman">
        <div style="margin-top:15px;" class="col-lg-10 col-lg-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <table border="1" class="col-lg-10 text-center" width="100%" style="table-layout: fixed;">
                            <tr>
                                <th width="30%">7:30am - 8:00am</th>
                                <th width="70%">Workshop Registration</th>
                            </tr>
                            <tr style="border-top: double black;">
                                <th>8:00am - 8:15am</th>
                                <th>Welcoming Remarks</th>
                            </tr>
                            <tr>
                                <th>8:15am - 9:15am</th>
                                <th>Session 1. Economics of Blockchain and Smart Contract<br/>
                                Session Chair: Manlu Liu (Rochester Institute of Technology)</th>
                            </tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Individuals’ Cryptocurrency Adoption: A Moderated-Mediation Model as an Industry Application for the Blockchain</em></font><br/>
                            	Pouyan Esmaeilzadeh, Hemang Subramanian and Karlene Cousins</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Identify Network Effects on Smart Contract Adoption in Blockchain Network (Best Paper Nominee)</em></font><br/>
                            	Xudong Cai, Xi Zhao, Bin Zhang and Gengzhong Feng</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Influence of Transaction Cost on Smart Contract: An Economic Analysis on Token-Curated Registry </em></font><br/>
                            	Ping Fan Ke</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Diffusion of Innovation in Accounting: How have the Big Four been Adopting Blockchain Technology? (Best Paper Nominee)</em></font><br/>
                            	Shoufan Qiu, Jennifer Xu, and Manlu Liu</td></tr>          
                            <tr style="border-top: double black;">
                            	<th>9:15am - 10:15am</th>
                            	<th>Keynote - New Markets Engineering with Blockchain<br/>
                                Prof. Roman Beck – New Markets Engineering with Blockchain</th>
                            </tr>
                            <tr style="border-top: double black;">
                            	<th>10:15am - 10:30am</th>
                            	<th>Coffee Break</th>
                            </tr>
							<tr>
                            	<th>10:30am - 11:30pm</th>
                            	<th>Session 2. Service Science and Engineering in Blockchain Ecosystems<br/>Session Chair: Dan Ke (Wuhan University)</th>
                            </tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Toward blockchain design for public sector municipal lending </em></font><br/>
                            	Juho Lindman, Carl-Marcus Trenck, Jonas Johnsson, and Dina Koutsikouri
								</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Used Car Trading Platform Based on Blockchain Technology </em></font><br/>
                            	Jinyu Zhang, Honghui Zhao, Yumeng Yang and Rui Shi</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                How to Take Better Advantage of Crowdsourcing? A Block-chain based Attempt </em></font><br/>
                                Chaocheng He, Jiang Wu, and Ke Dan</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Wibson: A Decentralized Data Marketplace (Best Paper Nominee)</em></font><br/>
							    Matias Travizano, Carlos Sarraute, Gustavo Ajzenman, and Martin Minnoni
							</td></tr>
							<tr style="border-top: double black;">
								<th>11:30pm - 1:00pm</th>
								<th>Lunch Break</th>
							</tr>
							<tr><th>1:00pm - 2:00pm</th>
                                <th>Panel - Research Opportunities of Blockchain Technology <br/>
							    Panelist: Akhil Kumar, Mary Lacity, Chris Westland and J. Leon Zhao<br/>
                                Coordinator: Shaokun Fan </th></tr>
							<tr style="border-top: double black;">
								<th>2:00pm - 3:00pm</th>
								<th>Session 3. Mechanism Design of Blockchain and Smart Contract<br/>Session Chair: Juho Lindman (University of Gothenburg)</th></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Deploying Blockchain Technology in the Streaming Music Industry - A Position Paper </em></font><br/>
                                Katarina Stanoevska-Slabeva, Claudia Loebbecke and Alexandre Zreikat</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Information Monetization as an Incentive Policy in Enterprise Blockchains</em></font><br/> 
							    Aseem Pahuja, Chuan-Hoo Tan and Zhiling Guo</td></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Privacy Preserving in Sharing Economy: A blockchain-based Multi-Agent Approach </em></font><br/>
							    Jinyu Zhang, Yumeng Yang, Rui Shi and Jiaqi Yan</td></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Open-source governance mechanisms in public blockchain: the case of the Ethereum community’s Decentralized Autonomous Organization hack </em></font><br/>
							    Juho Lindman, Dorna Garagol and Oscar Nilsson</td></tr>
							<tr style="border-top: double black;">
                                <th>3:00pm - 3:15pm</th>
								<th>Coffee Break</th>
							</tr>
							<tr><th>3:15pm - 4:30pm</th>
								<th>Session 4. Innovative Application of Smart Contract<br/>Session Chair: Hemang Subramanian (Florida International University)</th>
							</tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Smart Contract Based Security Tokens – An Illustration using the SAFE instrument </em></font><br/>
							    Hemang Subramanian</td></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Towards an Integrated Process Model for Smart Contract Engineering (Best Paper Nominee)</em></font><br/>
							    Christian Sillaber, Bernhard Waltl, Horst Treiblmaier, Ulrich Gallersdörfer and Michael Felderer</td></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Business Applications for Ethereum Smart Contracts </em></font><br/>
							    Eduardo Salcedo</td></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                IoT and Smart Contracts Enabled Blockchain: A Framework for Complete Provenance in Supply Chain Management </em></font><br/>
							    Abdullah Albizri and Deniz Appelbaum</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Decentralized Insurance Products Using Smart Contracts and Tokens</em></font><br/>
                                Alpen Sheth and Hemang Subramanian</td></tr>
        </table>
        </div>
    </font>
    </div>
</section>
