<section id="blog" class="blog">
    <div class="content-wrapper text-left">

	    
	<div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
        <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Program <h6>(Updated on Dec. 2nd, 2019)</h6></h4>
            <a href="{{ site.finalProgram | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">Latest version: {{ site.FinalProgramButton}}</a>
		<span><h6> <a href "/assests/finalprogram.pdf">Latest Version: Workshop Program</a></h6>
		<h6>December 15, 201</h6>
            <h6>International Congress Center Munich (ICM), Munich, Germany</h6>
        </div>
        <font size="4" face="Times New Roman">
        <div style="margin-top:15px;" class="col-lg-10 col-lg-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
        <table border="1" class="col-lg-10 text-center" width="100%" style="table-layout: fixed;">
                            <tr>
                                <th width="30%">7:30am - 8:00am</th>
                                <th width="70%">Workshop Registration and Breakfast</th>
                            </tr>
                            <tr style="border-top: double black;">
                                <th>8:00am - 8:15am</th>
                                <th>Welcoming Remarks</th>
                            </tr>
                            <tr>
                                <th>8:15am - 9:30am</th>
                                <th>Session 1. Blockchain Enabled Innovations<br/>
                                Session Chair: Horst Treiblmaier (Modul University Vienna)</th>
                            </tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Multi-Stakeholder Consent Management in Genetic Testing: A Blockchain-Based Approach</em></font><br/>
                            	Mikael Beyene, Scott Thiebes, and Ali Sunayev</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Digital Transformation with Blockchain in the Public Sector</em></font><br/>
                            	Horst Trieblmaier and Christian Sillaber</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Yes We Can! - Blockchain Based Crowdfunding and Crowdworking</em></font><br/>
                            	Matthias Billert</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Leveraging Blockchain Technology for Sustainability in Health Information Exchanges</em></font><br/>
                            	Rui Shi, Yiyan Bian, Yang Li, Xuechen Luo, and Jie Yu</td></tr>  
			    <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
				<font style="font-weight:bold"><em>
				Towards Blockchain-based Smart Contracting in IT OutSourcing</em></font><br/>	
			        Linmei Huang and Abudllah Tansel</td></tr>
			    <tr style="border-top: double black;">
			        <th>9:30am - 10:30am</th> 
				<th>Panel-Teaching Blockchain in B-Schools<br/>
				Moderator: Hemang Subramanian (Florida International University)<br/>
				Panelists:<br/>
					-Hanna Halaburda(Associate Professor & Author of "Beyond Bitcoin: The Economics of Digital Currencies" New York University; Chief Economist, Bank of Canada)<br/>
					-Leon Zhao(Chair of Information Systems, City University of Hong Kong)<br/>
					-Henry Kim(Professor & Co-Director,Blockchain Center,Schulich College of Business, York University)<br/>
					-Kristi Yuthas(Chair of Accounting and Information Systems, Portland State University)</th>
		                 </tr>
		            <tr style="border-top: double black;">
                            	<th>10:305am - 10:45am</th>
                            	<th>Coffee Break</th>
                            </tr>
		          <th>10:455am - 12:00pm</th>
                                <th>Session 2. Engagement with Users, Organizations, and Markets<br/>
                                Session Chair: Dan Ke (Wuhan University)</th>
                            </tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Towards an Assesment and Management of Blockchain Security Risks: An Empiracle Study</em></font><br/>
                            	Bouchaib Bahli and Saeideh Motlagh</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Transformation of the Transaction Cost and the Agency Cost in an Organization and the Applicability of Blockchain</em></font><br/>
                            	Ruo-Ting Sun, Aravinda Garimella, Wencui Han, Hsin-Lu Chang, and Michael J. Shaw</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                How Blockchain Features Affect Online Self-disclosure? An Exploratory Study of User Behavior on Blockchain-based Social Networks</em></font><br/>
                            	Dan Ke, Xue Bai, and Jennifer Xu</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Blockchain Social Media-Based Evaluation Markets</em></font><br/>
                            	Hemang Subramanian</td></tr>  
			    <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
				<font style="font-weight:bold"><em>
				Smart Contracts and Firm Boundaries</em></font><br/>	
			        Hanna Halaburda and Yannis Bakos</td></tr>
			<tr style="border-top: double black;">
				<th>12:00pm - 1:30pm</th>
				<th>Lunch Break</th>
			</tr>
                            <tr style="border-top: double black;">
                            	<th>1:30pm - 2:30pm</th>
                            	<th>Keynote - Decentralized Insurance Applications of Blockchain and Implications For Users, Industry and Regulators<br/>
                                Stephan Karpischek(Co-Founder and CEO of Etherisc)</th>
                            </tr>
         
				<tr style="border-top: double black;">
						<th>2:30pm - 3:30pm</th>
						<th>Session 3. Cryptocurrency<br/>Session Chair: Rong Liu(Stevens Univeristy of Technology)</th></tr
                            
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                Evaluating Novelty at Initial Coin Offerings </em></font><br/>
                            	Yan Chen, Rong Liu, Hsuan J. Lin, Xiangxiang He, Yang Wu, and Ziyi Xiong
								</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;">
                            	<font style="font-weight:bold"><em>
                                The Role of Cryptographic Tokens and ICOs in Fostering Platform Adoption</em></font><br/>
                            	Yannis Bakos and Hanna Halaburda</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                What Drives Decentralized Cryptocurrencies Users' Continuous Intention? The Case of Bitcoin</em></font><br/>
                                Ahmed Fares and Khaled Hassanein</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                The Differential Effects of Cryptocurrency Incentives in Blockchain Social Networks</em></font><br/>
							    Rongen Zhang, Junyoung Park, and Raffaele Ciriello
							</td></tr>
							<tr style="border-top: double black;">
								<th>3:30pm-3:45pm</th>
								<th>Coffee Break</th>
							</tr>
							<tr style="border-top: double black;">
								<th>3:45pm - 4:45pm</th>
								<th>Session 4. Design Science Researh for Blockchain<br/>Session Chair: Christoph Mueller-Bloch(IT University of Copenhagen)</th></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                SmartDon: A Permissioned Blockchain System for NPO</em></font><br/>
                                Miao Zhang, Xi Zhao, Bin Zhang, and Gengzhong Feng</td></tr>
                            <tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Why Blockchaing Governance can be both Centralized and Decentralized</em></font><br/> 
							    Hanna Halaburda, Christoph Mueller-Bloch, and Natalia Levina</td></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Designing Privacy-Preserving Consensus through Privacy by Design </em></font><br/>
							    Tharuka Rupasinghe</td></tr>
							<tr><td colspan="2" style="border-top:1px solid #ccccc0;"><font style="font-weight:bold"><em>
                                Can Neural Networks Perform Better in Absence of Sufficient Data?</em></font><br/>
							    Amir Talaei-Khoei and Luvai Motiwalla</td></tr>
							
        </table>
        </div>
    </font>
   
    </div>
</section>
