<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                    <article class="row post">
                        <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Highlight Moments</h4>
                    </article>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="col-lg-offset-0">
                        <img src="{{ site.baseurl }}/img/gallery/1.jpg" width="800" title="{{ element.description }}" alt="{{ element.name }}">
                        <img src="{{ site.baseurl }}/img/gallery/2.jpg" width="800" title="{{ element.description }}" alt="{{ element.name }}">
                        <img src="{{ site.baseurl }}/img/gallery/3.jpg" width="800" title="{{ element.description }}" alt="{{ element.name }}">
                        <img src="{{ site.baseurl }}/img/gallery/4.jpg" width="800" title="{{ element.description }}" alt="{{ element.name }}">
                        <img src="{{ site.baseurl }}/img/gallery/5.jpg" width="800" title="{{ element.description }}" alt="{{ element.name }}">
                        <img src="{{ site.baseurl }}/img/gallery/6.jpg" width="800" title="{{ element.description }}" alt="{{ element.name }}">
                        <img src="{{ site.baseurl }}/img/gallery/7.jpg" width="800" title="{{ element.description }}" alt="{{ element.name }}">
                        <img src="{{ site.baseurl }}/img/gallery/8.jpg" width="800" title="{{ element.description }}" alt="{{ element.name }}">
        </div>
    </div> 
</section>