<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
            	<div class="col-lg-10 col-lg-10 text-center">
                <div><a><img src="{{ site.baseurl}}/img/people/Roman_Beck.jpg" width="300" align="center"/></a>   
                </div>
            	<a href="https://pure.itu.dk/portal/en/persons/roman-beck%28d72cc0d6-fe4f-4392-bf88-243e5d7e36e5%29.html"><h4 class="name"><span>Prof. Roman Beck</span></h4></a>
                <p align="justify" style="font-family:Times New Roman"><strong>
                	Roman Beck is Professor at the BusinessIT department at IT University of Copenhagen. He is Head of the Technology, Innovation Management & Entrepreneurship (TIME) research group and Head of the European Blockchain Center and Blockchain Summer School. Roman is Head of the Danish ISO TC 307 Blockchain & Distributed Ledger Technology standardization group and Convenor of ISO TC 307 WG5 Blockchain Governance standardization.</strong>
                </p>
                <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">Speech Title: New Markets Engineering with Blockchain</h4>
                <p align="justify" style="font-family:Times New Roman">The Bitcoin protocol illustrates the first prototype of a cryptographic economic system, which is organized both autonomously and distributive, without any point of central control or single point of failure. The protocol pilots the merger of cryptography and economics, where organizational operations adhere to the intractable institutions set by the protocol. More precisely, it showcased the worldwide first economic system on autopilot, which might not only change the “Nature of the Firm”, but also the nature of economic value creation and development itself, on the foundation of a more and more information systems-based economy. In this presentation, I will discuss cur-rent and future blockchain-based research trying to answer the question how we can engineer new markets and economies using blockchain. </p>
				</div>
            </h4>
        </div>
    </div>
</section>