<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h4 class="text-left animated hiding appear-animation-trigger" data-animation="fadeInUp" data-delay="0">
            	
		<div class="col-lg-10 col-lg-10 text-center">
                <div><a><img src="{{ site.baseurl}}/img/people/stephan_karpischek.jpg" width="300" align="center"/></a> 
                </div>
		<a href="https://pure.itu.dk/portal/en/persons/roman-beck%28d72cc0d6-fe4f-4392-bf88-243e5d7e36e5%29.html"></a>
		
		<h4 class="name"><span>Decentralized Insurance Applications of Blockchain and Implications for Users, Industry, and Regulators</span></h4>
		
		<p align="justify" style="font-family:Times New Roman"><strong>
                	Dr. Stephen Karpischek is the co-founder and CEO of Etherisc, a blockchain project building Decentralized Insurance Applications. Before Etherisc, he co-founded a blockchain education startup and worked on digital innovation for leading European companies in banking, telecommunications, and automotive. Dr. Karpischek is a regular speaker at blochain and insurance events and likes to educate decision makers on blockchain technology and its consequences for society. He recieved a PhD in information management from ETH Zurich.</strong>
                </p>
        
                
		</div>
		
            </h4>
        </div>
    </div>
</section>
