<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <h3>{{ site.submissionTitle }}</h3>
            <div class="col-lg-8 col-md-10 col-xs-12">
                    <article class="row post">
                        <div class="post-header">
                            <div class="published col-md-6 col-xs-6 pull-left">
                                <span class="caption">Updated:</span>
                                <span class="publish-date" itemprop="datePublished">Sep. 27th, 2018</span>
                            </div>                                                
                        </div>
                        <p class="post-body"><h6>Submission link via <a href="https://easychair.org/conferences/?conf=bps18"> Easychair system </a></h6></p>
                        <p>The length of the paper should not surpass 5 pages (Single line spacing, Times New Roman, 12 pt, 1 inch margins).</p>
                        <div>
                            <span><h6>Submission Due: <a>Oct. 10th, 2018 (Extended)</a> </h6>
                            </span>
                            <span><h6>Notification of Acceptance: <a>Oct 31st, 2018 (Extended)</a></h6></span>   
                            <span><h6>Final Version Due:<a> Nov 7th, 2018</a></h6></span>
                            <span><h7>Note: If you need the invitation letter for the visa application purpose before the notification date, please contact program chairs. We can assist you.</h7></span>
                        </div>
                    </article>
            </div>
        </div>
    </div>
</section>