<!-- Begin Speakers List-->
<section id="speakers" class="speakers">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="col-lg-offset-0 row text-center appear-animation-trigger">
                {% for track in site.data.tracks %}
                <div class="effect-wrapper appear-animation col-lg-10 col-sm-6 col-xs-12">
                        <div class="lily-middle lily-effect">
                                {% if site.showTracks %}
                                    <div class="text-left"><a"><h5>Track {{track.id}}. {{ track.name }}</h5></a></div>
                                <div class="text-left"><span><h6>Chair: <div class="col-lg-offset-1">{% for c in track.chair%}
                                    <div><a href={{c.link}}>{{c.name}} ({{c.site}})</a></div>
                                    {% endfor %}</div></h6></span></div>
                                {% endif %}
                        </div>
                </div>
                {% endfor %}
            </div>    
       </div> 
    </div>
</section>
<!-- End Speakers List -->